# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# TESTING / PRODUCTION
/app/build
/app/coverage

# OS SYSTEM FILES
.DS_Store

# JAVASCRIPT / TYPESCRIPT / RUNTIME SOURCES
.firebase/
.cache/
node_modules/

# LOGFILES / ENVIRONMENT FILES
*.log
*.env
!docker-compose.env